<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoCrypto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A00FB1311D4B69D000D18560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00FB1451D4B69D100D18560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00FB1501D4B69D100D18560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
