<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ApplePayDonation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0F483661E2F945100D1D7BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F4837D1E2F945100D1D7BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F483881E2F945100D1D7BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
