<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PerkUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>970E70B41C7ED84C00CF5844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>970E70C81C7ED84C00CF5844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>970E70D31C7ED84C00CF5844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
